[submodule "rviz_plugin"]
	path = rviz_plugin
	url = https://github.com/mamariomiamo/rviz_plugin
[submodule "offb_pkg/offboard_controller_lib"]
	path = offb_pkg/offboard_controller_lib
	url = git@github.com:mamariomiamo/offboard_controller_lib.git
[submodule "trajectory_publisher"]
	path = trajectory_publisher
	url = https://github.com/mamariomiamo/trajectory_publisher
	branch = main
